/*
Theme Name: Blog - James Blewitt | Architect, Consultant, Entrepreneur
Author: Blog - James Blewitt | Architect, Consultant, Entrepreneur & Bluehost
Author URI: https://jamesblewitt.net/website_040f332b
Description: A Custom WordPress Theme built for Blog - James Blewitt | Architect, Consultant, Entrepreneur by Bluehost 
Version: 1.0.0
Template: yith-wonder
Text Domain: bluehost-blog-james-blewitt-architect-consultant-entrepreneur
*/
